.bx-im-fullscreen { background: #2fc6f7; overflow: auto; width: 100%; height: 100%; position: absolute; }
.bx-im-fullscreen .bx-desktop-placeholder { border-radius: 4px; display: inline-block;  width: 90%; overflow: hidden;  text-align: left; box-shadow: 0 9px 9px 1px rgba(0, 0, 0, 0.20); position: relative; }
.bx-im-fullscreen .bx-desktop-appearance-menu { border-radius: 4px 0 0 4px;}
.bx-im-fullscreen .bx-messenger-box-contact { box-shadow: none; }
.bx-im-fullscreen .bx-desktop-appearance-content { box-shadow: none;  }
.bx-im-fullscreen-table { border:0; height: 100%; width: 100%; }
.bx-im-fullscreen-td1 { vertical-align: middle; padding-left: 100px; padding-top: 10px; height: 80px;padding-right: 100px;}
.bx-im-fullscreen .bx-desktop-placeholder { -webkit-animation: imFullscreenShow .3s 1; animation: imFullscreenShow .3s 1; }
.bx-im-fullscreen-td2 { text-align: center; vertical-align: middle; }
.bx-im-fullscreen-td3 { vertical-align: middle; padding-left: 100px; height: 50px; color: #fff; }
.bx-im-fullscreen-logo { height: 46px; width: 333px; background: url('./images/logo_en.png'); float: left;}
.bx-language-ru .bx-im-fullscreen-logo { background: url('./images/logo_ru.png'); }
.bx-language-ua .bx-im-fullscreen-logo { background: url('./images/logo_ua.png'); }
.bx-im-fullscreen-back { float: right;}
.bx-im-fullscreen-back-link { display: inline-block; color: #fff; padding: 10px; border-radius: 18px; border: 2px solid #fff;font-size: 14px;text-decoration: none;}