table.sonet-user-profile-friends, table.sonet-user-profile-groups
{
	border:1px solid #C4C4C3;
	border-collapse:collapse;
}

table.sonet-user-profile-friends td, table.sonet-user-profile-groups td
{
	border:1px solid #c4c4c4;
	padding:6px 5px;
}

table.sonet-user-profile-friends thead td, table.sonet-user-profile-friends th, table.sonet-user-profile-groups thead td, table.sonet-user-profile-groups th
{
	background-color:#f2f2ea;
	/*text-align:left;*/
	font-weight:bold;
	font-size:12px;
	background-image:none;
	border:1px solid #C4C4C3;
	border-bottom:none;
	padding:8px;
}


table.sonet-user-profile-friend-box tbody td, table.sonet-user-profile-friend-box td
{
	border:none;
	padding:6px 5px;
	background:transparent;
}

div.bx-user-control {
	border-left: solid 1px #C4C4C4;
	padding: 0px 0px 0px 10px;
	margin: 12px 0px 12px 0px;
}

div.bx-user-control ul {list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0; padding: 0;}
div.bx-user-control li.bx-icon {
	padding-top: 3px;
	height: 19px;
	display: block;
	padding-left: 22px;
	clear: both;
	background-image: url(images/icons_all.png);
	background-repeat: no-repeat;
}

div.bx-user-control li.bx-icon-online{background-position: 0 -20px;}
div.bx-user-control li.bx-icon-away{background-position: 0 -40px;}
div.bx-user-control li.bx-icon-birth{background-position: 0 -60px;}
div.bx-user-control li.bx-icon-featured{background-position: 0 -80px;}

div.bx-user-control li.bx-icon-action {
	padding-top: 3px;
	height: 19px;
	display: block;
	padding-left: 22px;
	clear: both;
	background-image: url(images/icons_all5.gif?1);
	background-repeat: no-repeat;
	white-space:nowrap;
}

div.bx-user-control li.bx-icon-message {background-position: 0 0;}
div.bx-user-control li.bx-icon-history{background-position: 0 -20px;}
div.bx-user-control li.bx-icon-friend-remove{background-position: 0 -40px;}
div.bx-user-control li.bx-icon-friend-add{background-position: 0 -60px;}
div.bx-user-control li.bx-icon-group-add{background-position: 0 -80px;}
div.bx-user-control li.bx-icon-profile{background-position: 0 -100px;}
div.bx-user-control li.bx-icon-privacy{background-position: 0 -120px;}
div.bx-user-control li.bx-icon-settings{background-position: 0 -140px;}
div.bx-user-control li.bx-icon-video-call{background-position: 0 -160px;}

div.bx-user-control li.bx-icon-passwords{background-position: 0 -200px;}
div.bx-user-control li.bx-icon-security{background-position: 0 -180px;}
div.bx-user-control li.bx-icon-codes{background-position: 0 -220px;}

div.bx-user-control li.bx-icon-subscribe{background-image: url(images/subscribe.gif);}
div.bx-user-control li.bx-icon-requests{background-image: url(images/request.gif);}

table.sonet-user-profile-groups ul{margin:0 0 12px 6px; padding-left:10px; list-style-type:square;}


.user-profile-mail-link-block {
	height: 42px;
	line-height: 42px;
	position: relative;
}

.user-profile-short-link {
	color: #000000;
	display: inline-block;
	max-width: 100px;
	overflow: hidden;
	vertical-align: top;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.user-profile-show-link-btn {
	display: inline-block;
	margin-top: 1px;
	font-size: 12px;
	line-height: normal;
}

.user-profile-link-input {
	border: 1px solid #d9dbde;
	height: 40px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 40px;
	margin-left: -10px;
	max-width: 220px;
	left: 0;
	top: 100px;
	opacity: 0;
	position: absolute;
	padding: 0 9px;
	width: 0;
}


.user-profile-show-input .user-profile-link-input {
	position: static;
	-webkit-transition: width 0.25s linear;
	transition: width 0.25s linear;
}
