@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?33bfpv');
  src:  url('../fonts/icomoon.eot?33bfpv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?33bfpv') format('truetype'),
        url('../fonts/icomoon.woff?33bfpv') format('woff'),
        url('../fonts/icomoon.svg?33bfpv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-btn:before {
  content: "\e922";
  font-family: 'icomoon' !important;
}
.icon-cart:before {
  content: "\e900";
  font-family: 'icomoon' !important;
}
.icon-delivery:before {
  content: "\e901";
  font-family: 'icomoon' !important;
}
.icon-enter:before {
  content: "\e902";
  font-family: 'icomoon' !important;
}
.icon-fb:before {
  content: "\e903";
  font-family: 'icomoon' !important;
}
.icon-fermer:before {
  content: "\e905";
  font-family: 'icomoon' !important;
}
.icon-filter:before {
  content: "\e906";
  font-family: 'icomoon' !important;
}
.icon-heart:before {
  content: "\e907";
  font-family: 'icomoon' !important;
}
.icon-insta:before {
  content: "\e908";
  font-family: 'icomoon' !important;
}
.icon-letter:before {
  content: "\e909";
  font-family: 'icomoon' !important;
}
.icon-loc:before {
  content: "\e90b";
  font-family: 'icomoon' !important;
}
.icon-message:before {
  content: "\e90d";
  font-family: 'icomoon' !important;
}
.icon-product:before {
  content: "\e90e";
  font-family: 'icomoon' !important;
}
.icon-review:before {
  content: "\e90f";
  font-family: 'icomoon' !important;
}
.icon-save:before {
  content: "\e910";
  font-family: 'icomoon' !important;
}
.icon-search:before {
  content: "\e912";
  font-family: 'icomoon' !important;
}
.icon-settings:before {
  content: "\e913";
  font-family: 'icomoon' !important;
}
.icon-shemale:before {
  content: "\e914";
  font-family: 'icomoon' !important;
}
.icon-tel:before {
  content: "\e918";
  font-family: 'icomoon' !important;
}
.icon-ticket:before {
  content: "\e91b";
  font-family: 'icomoon' !important;
}
.icon-tw:before {
  content: "\e91c";
  font-family: 'icomoon' !important;
}
.icon-user:before {
  content: "\e91d";
  font-family: 'icomoon' !important;
}
.icon-vk:before {
  content: "\e91e";
  font-family: 'icomoon' !important;
}
.icon-write:before {
  content: "\e91f";
  font-family: 'icomoon' !important;
}
.icon-ale:before {
  content: "\e920";
  font-family: 'icomoon' !important;
}
.icon-down-arrow:before {
  content: "\e911";
  font-family: 'icomoon' !important;
}
.icon-close:before {
  content: "\e904";
  font-family: 'icomoon' !important;
}
.icon-rub:before {
  content: "\e90a";
  font-family: 'icomoon' !important;
}
.icon-check:before {
  content: "\e90c";
  font-family: 'icomoon' !important;
}
.icon-star-empty:before {
  content: "\e915";
  font-family: 'icomoon' !important;
}
.icon-star:before {
  content: "\e917";
  font-family: 'icomoon' !important;
}
.icon-toggle:before {
  content: "\e916";
  font-family: 'icomoon' !important;
}
.icon-down:before {
  content: "\e921";
  font-family: 'icomoon' !important;
}
.icon-left:before {
  content: "\e919";
  font-family: 'icomoon' !important;
}
.icon-right:before {
  content: "\e91a";
  font-family: 'icomoon' !important;
}
