html, body {
	font-family: 'MuseoSansCyrl', sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	background: url("../image/main-back.png") 0 700px no-repeat,#e6f1f7;
	flex: 1 0 auto;
	position: relative;
}
footer {
	flex: 0 0 auto;
}
.relative{
	position: relative;
}
.absolut{
	position: absolute;
}
.slick-slide:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
a:focus{
	outline: none;
}
textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
	color: #cfcfcf;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #cfcfcf;
}

textarea::placeholder,
input::placeholder {
	color: #cfcfcf;
}
		/*HEADER*/
header{
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.location{
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 100;
	margin: 11px 0;
	padding: 0 20px 0 25px;
	position: relative;
}
.location:before{
	color: #8ebf5c;
	content: "\e90b";
	font-family: 'icomoon' !important;
	font-size: 20px;
	left: 0;
	position: absolute;
	top: -4px;
}
.location:after{
	content: "\e921";
	font-family: 'icomoon' !important;
	position: absolute;
	right: 0;
	top: 1px;
}
.location:hover{
	color: #fff;
}
.header{
	background: #fff;
	border-radius: 45px;
	height: 90px;
	margin: 0 -50px;
}
.logo{
	margin-left: 25px;
}
.logo-img{
	height: 56px;
}
.phone-wrapper{
	align-items: center;
	background: url("../image/phone-back.jpg") 50% -1px no-repeat;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 300px;
}
.phone{
	color: #484f53;
	display: inline-block;
	font-size: 15px;
	font-weight: 900;
	padding-left: 33px;
	position: relative;
}
.phone:before{
	color: #8ebf5c;
	content: "\e918";
	font-family: 'icomoon' !important;
	font-size: 19px;
	left: 0;
	position: absolute;
	top: -3px;
}
.phone:hover{
	color: #484f53;
}
.user-btn{
	align-items: center;
	border: 1px solid #cfcfcf;
	border-radius: 9px;
	color: #cfcfcf;
	display: inline-flex;
	height: 54px;
	padding: 0 17px;
}
.user-btn:after{
	content: "\e902";
	font-family: 'icomoon' !important;
	font-size: 18px;
	line-height: 18px;
}
.user-btn:hover{
	color: #cfcfcf;
	text-decoration: none;
}
.user-name{
	color: #484f53;
	font-size: 15px;
	font-weight: 100;
	margin-right: 28px;
	padding-left: 42px;
	position: relative;
}
.user-name:before{
	align-items: center;
	background: #8ebf5c;
	border-radius: 15px;
	color: #fff;
	content: "\e91d";
	display: inline-flex;
	font-family: 'icomoon' !important;
	font-size: 12px;
	height: 30px;
	justify-content: center;
	left: 0;
	position: absolute;
	top: -5px;
	width: 30px;
}
.enter-reg{
	color: #484f53;
	font-size: 15px;
	font-weight: 100;
	margin-right: 28px;
}
.favorites-wrapper{
	align-items: center;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0 34px;
}
.favorites{
	position: relative;
}
.favorites:hover{
	text-shadow: 0 0 3px #8ebf5c;
}
.favorites:before{
	color: #cfcfcf;
	content: "\e907";
	display: inline-block;
	font-family: 'icomoon' !important;
	font-size: 20px;
	position: relative;
}
.have-favorites{
	background: linear-gradient(110deg, #ff9944, #fc6076);
	border-radius: 50%;
	height: 6px;
	position: absolute;
	right: -5px;
	top: -2px;
	width: 6px;
}
.cart-header{
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 100%;
	padding: 0 30px;
}
.cart-name{
	font-size: 15px;
	font-weight: 100;
	padding-left: 33px;
	position: relative;
}
.cart-name:before{
	color: #cfcfcf;
	content: "\e900";
	font-family: 'icomoon' !important;
	font-size: 20px;
	left: 0;
	position: absolute;
	top: -3px;
}
.cart-name:hover:before{
	text-shadow: 0 0 3px #8ebf5c;
}
.cart-price{
	font-size: 17px;
	font-weight: 900;
	margin-left: 30px;
}
.cart-price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 13px;
	padding-left: 3px;
}
.cart-item-number{
	align-items: center;
	background: linear-gradient(110deg, #ff9944, #fc6076);
	border-radius: 22px;
	color: #fff;
	display: flex;
	font-size: 19px;
	font-weight: 900;
	height: 44px;
	justify-content: center;
	margin-left: 30px;
	min-width: 44px;
}
.cart-body{
	display: none;
	cursor: default;
	position: absolute;
	right: 50px;
	top: 100%;
	width: 530px;
}
.small-cart-item{
	align-items: center;
	background: rgba(255,255,255,.9);
	display: flex;
	height: 94px;
	justify-content: space-around;
	margin-top: 1px;
}
.small-cart-pic{
	align-items: center;
	border-radius: 30px;
	display: flex;
	height: 60px;
	justify-content: center;
	overflow: hidden;
	width: 60px;
}
.small-cart-name{
	color: #484f53;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	width: 160px;
}
.small-cart-price{
	color: #484f53;
	font-size: 16px;
	font-weight: 900;
}
.small-cart-price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 12px;
	font-weight: 900;
	padding-left: 3px;
}
.cart-count-block{
	align-items: center;
	background: #fff;
	border-radius: 13px;
	display: flex;
	flex-direction: column-reverse;
	height: 60px;
	width: 25px;
}
.cart-count-value{
	border: none;
	line-height: 20px;
	padding: 0;
	text-align: center;
	width: 100%;
}
.cart-count-value:focus,
.card-count-value:focus{
	outline: none;
}
.count-minus{
	font-size: 20px;
	font-weight: 900;
}
.count-plus{
	font-size: 17px;
}
.count-minus,
.count-plus{
	align-items: center;
	color: #8ebf5c;
	display: flex;
	cursor: pointer;
	height: 20px;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.close-btn{
	cursor: pointer;
}
.close-btn:before{
	color: #cfcfcf;
	content: "\e922";
	font-family: 'icomoon' !important;
	font-size: 20px;
}
.close-btn:hover:before{
	text-shadow: 0 0 3px #8ebf5c;
}
.small-total-line{
	align-items: center;
	background: #8ebf5c;
	display: flex;
	height: 60px;
	margin-top: 1px;
	padding: 0 25px;
}
.total-price{
	color: #2e3234;
	font-size: 17px;
	font-weight: 900;
}
.total-price:before{
	color: rgba(255,255,255,.5);
	content: "сумма";
	font-size: 13px;
	font-weight: 300;
	margin-right: 10px;
	text-transform: uppercase;
}
.total-price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 13px;
	margin-left: 3px;
}
.in-cart-btn,
.pay-btn{
	align-items: center;
	border-radius: 16px;
	display: flex;
	font-size: 13px;
	font-weight: 700;
	height: 31px;
	justify-content: center;
	text-transform: uppercase;
	width: 133px;
}
.in-cart-btn:hover{
	background: #fff;
	color: #8ebf5c;
	text-decoration: none;
}
.in-cart-btn{
	border: 1px solid #fff;
	color: #fff;
	margin-left: auto;
}
.pay-btn{
	background: #fff;
	color: #8ebf5c;
	margin-left: 13px;
}
.pay-btn:hover{
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
}
.small-cart-back{
	background: rgba(72,79,83,.8);
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
		/*END HEADER*/

		/*MAIN-SLIDER*/
#mainSlider{
	margin-bottom: 0;
}
.slick-slide{
	position: relative;
}
.slider-text-wrapper{
	left: 0;
	position: absolute;
	top: 230px;
	width: 100%;
}
.slider-text{
	color: #fff;
	font-size: 36px;
	font-weight: 900;
	line-height: 43px;
	text-transform: uppercase;
}
.slider-control-block{
	position: absolute;
	top: 230px;
}
.slider-control-block .slick-dots{
	display: flex;
	flex-direction: column;
	position: static;
}
.slider-control-block .slick-dots li{
	height: auto;
	margin: 0 0 5px;
	width: auto;
}
.slider-control-block .slick-dots li button{
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	height: auto;
	margin: 0;
	opacity: .5;
	width: auto;
}
.slider-control-block .slick-dots li button:before{
	color: #fff;
	content: "0";
	font-family: inherit;
	font-size: inherit;
	opacity: initial;
	position: static;
}
.slider-control-block .slick-dots li.slick-active button{
	font-weight: 700;
	opacity: 1;
}
.slider-control-block .slick-dots li.slick-active button:before{
	opacity: 1;
}
.slider-control-block .slick-dots li.slick-active button:after{
	background: #fff;
	content: '';
	display: inline-block;
	height: 2px;
	margin: 0 0 6px 8px;
	width: 14px;
}
.btns-block{
	margin-top: 20px;
}
.carousel-control{
	font-size: 14px;
	font-weight: 300;
	opacity: .5;
	position: relative;
	text-transform: uppercase;
}
.main-control {
	color: #fff;
}
.main-control:hover{
	color: #fff;
}
.carousel-control:hover{
	opacity: 1;
	text-decoration: none;
}
.carousel-control.next{
	margin-left: 40px;
}
.control-btn{
	bottom: -5px;
	height: 1px;
	position: absolute;
	width: calc(100% + 5px);
}
.main-control .control-btn{
	background: #fff;
}
.carousel-control:hover .control-btn{
	width: calc(100% + 25px);
}
.control-btn:before{
	content: "\e911";
	font-family: 'icomoon' !important;
	font-size: 7px;
	position: absolute;
	top: -4px;
}
.left-btn.control-btn:before{
	left: -3px;
	transform: rotate(90deg);
}
.right-btn.control-btn:before{
	right: -3px;
	transform: rotate(270deg);
}
.left-btn.control-btn{
	right: -2px;
}
.right-btn.control-btn{
	left: -2px;
}
		/*END MAIN-SLIDER*/

		/*SEARCH-PANEL*/
.search-block{
	background: #fff;
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	margin-bottom: 50px;
	position: relative;
	z-index: 1;
}
.search-up-line{
	align-items: stretch;
	background: #fff;
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	display: flex;
	margin-top: -41px;
}
.search-block1{
	align-items: center;
	display: flex;
	flex-shrink: 0;
	padding: 0 25px;
}
.search-block1-text{
	color: #aeb2b5;
	font-size: 15px;
	text-transform: uppercase;
}
.search-block1 .icon-fermer,
.search-block1 .icon-product{
	align-items: center;
	border: 1px solid #90c05f;
	border-radius: 50%;
	cursor: pointer;
	display: inline-flex;
	height: 47px;
	justify-content: center;
	margin: 0 7px 0 17px;
	width: 47px;
}
.search-block1 .icon-fermer:before{
	color: #90c05f;
	font-size: 27px;
}
.search-block1 .icon-product:before{
	color: #90c05f;
	font-size: 17px;
}
.product-fermer:checked + .choose-radio{
	background: #90c05f;
}
.product-fermer:checked + .choose-radio:before{
	color: #fff;
}
.search-text-block{
	align-items: center;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	display: flex;
	padding: 0 30px;
	width: 100%;
}
.search-text-wrap{
	position: relative;
	width: 100%;
}
.search-text{
	background: #f0f0f0;
	border: none;
	border-radius: 26px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1), 0 3px 7px 0 rgba(0, 0, 0, 0.1) inset;
	font-size: 16px;
	padding: 12px 30px;
	width: 100%;
}
.search-text:focus,
.search-btn:focus{
	outline: none;
}
.search-btn{
	align-items: center;
	background: linear-gradient(150deg, #ff9944, #fc6076);
	border: none;
	border-radius: 26px;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-size: 15px;
	font-weight: 700;
	height: 100%;
	justify-content: space-around;
	padding: 0 5px 0 10px;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	right: 0;
	width: 215px;
}
.search-btn:after{
	content: "\e912";
	font-family: 'icomoon' !important;
	font-size: 19px;
	font-weight: normal;
}
.search-btn:hover{
	box-shadow: inset 1px 1px 6px rgba(0,0,0,0.5);
}
.under-search-btn{
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-shrink: 0;
	height: 82px;
	justify-content: center;
	width: 82px;
}
.under-search-btn:before{
	color: #cfcfcf;
	content: "\e913";
	font-family: 'icomoon' !important;
	font-size: 20px;
}
.under-search-btn:hover:before{
	text-shadow: 0 0 3px #8ebf5c;
}
.open-form .under-search-btn:before{
	color: #90c05f;
}
.search-under-line{
	background: #fff;
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	margin-top: 1px;
	height: 200px;
	display: none;
}
.under-search-wrap{
	height: 0;
	display: none;
	transition: height .5s ease-out 0.1s;
}
.open-form .under-search-wrap.active{
	display: block;
	height: auto;
}
.open-form .search-under-line{
	display: flex;
}
.product-choose-wrap{
	cursor: pointer;
	height: 100%;
	width: 100%;
}
.product-choose-wrap:hover .product-svg{
	filter: grayscale(0%);
	opacity: 1;
}
.search-product{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 55px 0;
	height: 100%;
}
.hidden-input{
	display: none;
}
.product-svg{
	filter: grayscale(100%);
	height: 53px;
	opacity: .16;
}
.product-choose-name{
	color: #484f53;
	font-size: 16px;
}
.hidden-input:checked + .search-product{
	background: linear-gradient(to top, #f4f4f4, #ffffff);
	border-bottom: 3px solid #8ebf5c;
	padding-bottom: 52px;
}
.hidden-input:checked + .search-product .product-svg{
	filter: grayscale(0%);
	opacity: 1;
}
.with-us{
	padding: 28px 0;
}
.with-us-title{
	color: #aeb2b5;
	font-size: 15px;
	margin-right: 50px;
	text-transform: uppercase;
}
.with-us-fermers,
.with-us-clients{
	color: #8ebf5c;
	font-size: 36px;
	font-weight: 900;
}
.with-us-fermers{
	margin-right: 35px;
}
.with-us-fermers:after,
.with-us-clients:after{
	font-size: 18px;
	margin-left: 2px;
}
.with-us-fermers:after{
	content: 'фермеров';
}
.with-us-clients:after{
	content: 'покупателей';
}

		/*END SEARCH-PANEL*/

		/*LIDER-SLIDER*/
.slider-head{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
	padding: 0 15px;
}
.slider-title{
	align-items: center;
	color: #484f53;
	display: flex;
	font-size: 40px;
	font-weight: 900;
}
.head-icon{
	align-items: center;
	border: 1px solid #000;
	border-radius: 6px;
	display: inline-flex;
	font-size: 13px;
	height: 25px;
	justify-content: center;
	margin-right: 19px;
	text-transform: uppercase;
	width: 51px;
}
.slider-controls-block{
	align-items: center;
	display: flex;
}
.hot-control,
.lider-control,
.new-product-control,
.news-control{
	color: #484f53;
}
.hot-control:hover,
.lider-control:hover,
.new-product-control:hover,
.news-control:hover{
	color: #484f53;
}
.hot-control .control-btn,
.lider-control .control-btn,
.new-product-control .control-btn,
.news-control .control-btn{
	background: #484f53;
}
.lider-dots{
	width: 230px;
}
.product-wrap{
	padding-bottom: 20px;
}
.top-block{
	background: #fff;
	padding: 33px 28px 20px;
	position: relative;
}
.product-pic{
	align-items: center;
	border-radius: 50%;
	display: flex;
	height: 200px;
	justify-content: center;
	margin-bottom: 20px;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	width: 200px;
}
.product-pic:before{
	background: rgba(31,33,35,.8);
	content: "";
	display: none;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.product-pic:after{
	align-items: center;
	color: #8ebf5c;
	content: "+";
	display: none;
	font-size: 30px;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.product-pic:hover:before{
	display: block;
}
.product-pic:hover:after{
	display: flex;
}
.product-desc{
	height: 75px;
	width: 100%;
}
.fermer-name{
	color: rgba(72,79,83,.7);
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 10px;
	max-height: 28px;
	overflow: hidden;
}
.product-name{
	color: #484f53;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
}
.product-sale{
	align-items: center;
	border-radius: 15px;
	color: #fff;
	display: flex;
	font-size: 12px;
	font-weight: 900;
	height: 29px;
	justify-content: center;
	left: 28px;
	position: absolute;
	top: 42px;
	text-transform: uppercase;
	width: 83px;
}
.akcija{
	background: #8ebf5c;
}
.akcija:before{
	content: 'акция';
}
.discont{
	background: #ffc104;
}
.discont:before{
	content: 'скидка';
}
.like{
	position: absolute;
	right: 15px;
	top: 15px;
}
.like:before{
	color: #cfcfcf;
	content: "\e907";
	font-family: 'icomoon' !important;
}
.like:hover:before{
	text-shadow: 0 0 3px #8ebf5c;
}
.active-like:before{
	color: #fc6076;
}
.bottom-block{
	background: #fff;
	display: flex;
	justify-content: space-between;
	margin-top: 1px;
	padding: 28px 20px;
}
.price{
	color: #484f53;
	font-size: 22px;
	font-weight: 900;
	line-height: 20px;
}
.price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 16px;
	padding-left: 3px;
}
.unit{
	color: #484f53;
	font-size: 15px;
}
.product-old-price{
	color: #cfcfcf;
	font-size: 16px;
	font-weight: 900;
	position: relative;
}
.product-old-price:before{
	background: #484f53;
	content: "";
	display: block;
	height: 1px;
	left: -5px;
	position: absolute;
	top: 10px;
	width: calc(100% + 10px);
}
.product-old-price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 13px;
	padding-left: 3px;
}
.add-product{
	align-items: center;
	background: linear-gradient(150deg, #ff9944, #fc6076);
	border-radius: 20px;
	bottom: 0;
	color: #fff;
	display: flex;
	height: 40px;
	justify-content: center;
	width: 96px;
}
.add-product:before{
	content: "\e900";
	font-family: 'icomoon' !important;
}
.add-product:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: inset 1px 1px 6px rgba(0,0,0,.5);
}
.product-dots,
.lider-dots,
.new-product-dots,
.hot-product-dots,
.news-dots{
	width: 230px;
}
.product-dots .slick-dots,
.lider-dots .slick-dots,
.new-product-dots .slick-dots,
.hot-product-dots .slick-dots,
.news-dots .slick-dots{
	display: flex;
	justify-content: flex-end;
	position: static;
}
.product-dots .slick-dots li,
.lider-dots .slick-dots li,
.new-product-dots .slick-dots li,
.hot-product-dots .slick-dots li,
.news-dots .slick-dots li{
	height: auto;
	margin: 0 0 5px;
	width: auto;
}
.product-dots .slick-dots li button,
.lider-dots .slick-dots li button,
.new-product-dots .slick-dots li button,
.hot-product-dots .slick-dots li button,
.news-dots .slick-dots li button{
	color: #484f53;
	font-size: 18px;
	font-weight: 100;
	height: auto;
	margin: 0;
	opacity: .5;
	width: auto;
}
.product-dots .slick-dots li button:before,
.lider-dots .slick-dots li button:before,
.new-product-dots .slick-dots li button:before,
.hot-product-dots .slick-dots li button:before,
.news-dots .slick-dots li button:before{
	color: #484f53;
	content: "0";
	font-family: inherit;
	font-size: inherit;
	opacity: initial;
	position: relative;
}
.product-dots .slick-dots li.slick-active button,
.lider-dots .slick-dots li.slick-active button,
.new-product-dots .slick-dots li.slick-active button,
.hot-product-dots .slick-dots li.slick-active button,
.news-dots .slick-dots li.slick-active button{
	font-weight: 700;
	opacity: 1;
}
.product-dots .slick-dots li.slick-active button:before,
.lider-dots .slick-dots li.slick-active button:before,
.new-product-dots .slick-dots li.slick-active button:before,
.hot-product-dots .slick-dots li.slick-active button:before,
.news-dots .slick-dots li.slick-active button:before{
	opacity: 1;
}
.product-dots .slick-dots li.slick-active button:after,
.lider-dots .slick-dots li.slick-active button:after,
.new-product-dots .slick-dots li.slick-active button:after,
.hot-product-dots .slick-dots li.slick-active button:after,
.news-dots .slick-dots li.slick-active button:after{
	background: #484f53;
	bottom: 0;
	content: '';
	display: inline-block;
	height: 2px;
	left: 4px;
	position: absolute;
	width: 21px;
}
		/*END LIDER-SLIDER*/

		/*NEW-PRODUCT-SLIDER*/
.new-product-slider-block{
	margin-top: 20px;
}
		/*END NEW-PRODUCT-SLIDER*/

		/*main-text-block*/
.main-text-block{
	font-size: 14px;
	font-weight: 100;
	line-height: 22px;
	margin: 30px 0;
}
		/*end main-text-block*/

		/*NEWS-SLIDER*/
.news-slider.slick-dotted.slick-slider{
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	margin-bottom: -80px;
}
.news-item{
	background: #fff;
	margin-right: 1px;
	padding: 30px;
}
.news-date{
	font-size: 12px;
	margin-bottom: 10px;
}
.news-year{
	color: rgba(72,79,83,.6);
	font-style: italic;
	font-weight: 900;
}
.news-day{
	color: #cfcfcf;
	margin-left: 19px;
	position: relative;
}
.news-day:before{
	background: #cfcfcf;
	content: "";
	display: block;
	height: 22px;
	left: -10px;
	position: absolute;
	top: -5px;
	transform: rotate(25deg);
	width: 1px;
}
.news-pic{
	margin-bottom: 20px;
}
.news-image{
	max-width: 100%;
}
.news-text-block{
	height: 190px;
	overflow: hidden;
}
.news-title a,
.news-title{
	color: #484f53;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}
.news-line{
	background: #484f53;
	height: 1px;
	margin: 15px 0;
	width: 65%;
}
.news-text{
	color: #484f53;
	font-size: 14px;
	font-weight: 100;
	line-height: 22px;
}
.news-link-wrap{
	padding-top: 40px;
	text-align: right;
}
.news-link{
	color: #8ebf5c;
	font-size: 14px;
	text-transform: uppercase;
}
.news-link:after{
	content: "\e91a";
	font-family: 'icomoon' !important;
	font-size: 11px;
	font-weight: 900;
}
.news-link:hover{
	color: #8ebf5c;
}
		/*END NEWS-SLIDER*/

		/*CATALOG*/
.search-catalog{
	background: #fff;
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	padding-bottom: 30px;
}
.search-sub-line{
	background: #f0f0f0;
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 30px 10px;
}
.open-form .search-sub-line{
	display: flex;
}
.sub-product{
	color: #484f53;
	display: inline-block;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 5px 20px;
	cursor: pointer;
	position: relative;
}
.sub-product input {
	display: none;
}
.sub-product input + .check_bg + .sub-product-name:after{
	color: transparent;
	content: "\e904";
	font-family: 'icomoon' !important;
	font-size: 10px;
	margin-left: 10px;
}
.sub-product input:checked + .check_bg{
	border-radius: 16px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
	color: #8ebf5c;
}
.sub-product input:checked + .check_bg + .sub-product-name:after{
	color: #8ebf5c;
}
.sub-product-name{
	position: relative;
}
.sort-panel{
	display: flex;
	justify-content: space-between;
	padding: 30px;
}
.find-products{
	color: #484f53;
	font-size: 18px;
}
.sort-price-text{
	color: rgba(72,79,83,.5);
	font-size: 15px;
	margin-right: 30px;
	text-transform: uppercase;
}
.sort-price-btn{
	align-items: center;
	color: #484f53;
	display: inline-flex;
	font-size: 12px;
	font-weight: 700;
}
.sort-price-btn:before{
	content: "Цена (по возрастанию)";
}
.sort-price-btn:after{
	content: "\e921";
	font-family: 'icomoon' !important;
	font-size: 15px;
}
.sort-price-btn.up-to-down:before{
	content: "Цена (по убыванию)";
}
.sort-price-btn.up-to-down:after{
	transform: rotate(180deg);
}
.cat-item{
	margin-bottom: 30px;
}
.pagination-block{
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 30px 0 50px;
}
.pag-left,
.pag-right{
	align-items: center;
	background: #fff;
	display: flex;
	height: 63px;
	justify-content: center;
	width: 90px;
}
.pag-left{
	border-bottom-left-radius: 32px;
	border-top-left-radius: 32px;
	border-right: 1px solid #e0e0e0;
}
.pag-right{
	border-bottom-right-radius: 32px;
	border-top-right-radius: 32px;
	border-left: 1px solid #e0e0e0;
}
.pag-arrow-left,
.pag-arrow-right{
	background: #484f53;
	color: #484f53;
	display: block;
	height: 1px;
	position: relative;
	width: 35px;
}
.pag-arrow-left:before{
	content: "\e911";
	font-family: 'icomoon' !important;
	font-size: 7px;
	left: -4px;
	position: absolute;
	top: -5px;
	transform: rotate(90deg);
}
.pag-arrow-right:before{
	content: "\e911";
	font-family: 'icomoon' !important;
	font-size: 7px;
	position: absolute;
	right: -4px;
	transform: rotate(270deg);
	top: -5px;
}
.pag-left:hover .pag-arrow-left,
.pag-right:hover .pag-arrow-right{
	background: #8ebf5c;
	color: #8ebf5c;
}
.pagination-btns{
	align-items: center;
	background: #fff;
	display: flex;
	height: 63px;
	justify-content: center;
	padding: 0 40px;
}
.pagination-btn{
	border-bottom: 2px solid transparent;
	color: rgba(72,79,83,.5);
	display: inline-block;
	font-size: 18px;
	font-weight: 100;
	margin: 0 5px;
	text-transform: uppercase;
}
.pagination-btn.active-pag{
	border-bottom: 2px solid #8ebf5c;
	color: #8ebf5c;
	font-weight: 700;
}
.pagination-btn:hover{
	color: #8ebf5c;
	opacity: .9;
	text-decoration: none;
}
		/*END CATALOG*/

		/*PRODUCT*/
.header-back{
	background: url("../image/header-back.jpg") top no-repeat;
	background-size: cover;
	height: 230px;
}
.breadcrumb-custom{
	background: #fff;
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	margin-bottom: 45px;
	padding: 24px 0;
}
.crumb-wrap + .crumb-wrap:before{
	color: #8ebf5c;
	content: "\e91a";
	font-family: 'icomoon' !important;
	font-size: 10px;
}
.crumb-link{
	color: rgba(72,79,83,.5);
	font-size: 11px;
	text-transform: uppercase;
}
.crumb-link:hover{
	color: rgba(72,79,83,.5);
}
.current-crumb{
	color: #484f53;
	font-size: 11px;
	text-transform: uppercase;
}
.product-card{
	margin: 45px 0;
}
.product-pic-block{
	background: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-right: 1px;
}
.big-pic-block{
	height: 100%;
	padding: 30px;
	position: relative;
}
.big-pic{
	align-items: center;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}
.big-pic-block .product-sale{
	border-radius: 18px;
	height: 36px;
	left: 30px;
	top: 30px;
	width: 114px;
}
.big-pic-block .like{
	right: 30px;
	top: 30px;
}
.big-pic-block .like:before{
	font-size: 18px;
}
.gallary-block{
	align-items: center;
	border-top: 1px solid #e0e0e0;
	display: flex;
	height: 130px;
	justify-content: space-around;
}
.small-pic-item{
	align-items: center;
	border-radius: 50%;
	display: flex;
	height: 70px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 70px;
	margin: 0 14px;
}
.small-pic-item.slick-current:after,
.small-pic-item.active-item:after{
	align-items: center;
	background: rgba(72,79,83,.8);
	color: #8ebf5c;
	content: "\e90c";
	display: flex;
	font-family: 'icomoon' !important;
	font-size: 20px;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.product-info-block{
	background: #fff;
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	height: 100%;
	padding: 30px;
	position: relative;
}
.product-fermer-info{
	border: 1px solid #cfcfcf;
	border-radius: 17px;
	display: inline-block;
	height: 33px;
	margin-left: 45px;
	position: relative;
}
.product-fermer{
	align-items: center;
	border-right: 1px solid #cfcfcf;
	color: #484f53;
	display: inline-flex;
	height: 100%;
	font-size: 14px;
	font-weight: 700;
	padding: 0 15px 0 40px;
}
.goods-reviews{
	align-items: center;
	display: inline-flex;
	height: 100%;
	padding: 0 19px 0 13px;
}
.goods-count,
.reviews-count{
	color: #484f53;
	font-size: 12px;
	font-weight: 100;
	position: relative;
}
.goods-count{
	margin-right: 17px;
	padding-left: 21px;
}
.reviews-count{
	padding-left: 24px;
}
.goods-count:before,
.reviews-count:before{
	color: #8ebf5c;
	content: "\e90e";
	font-family: 'icomoon' !important;
	font-size: 14px;
	left: 0;
	position: absolute;
	top: -2px;
}
.product-fermer-pic{
	align-items: center;
	background: #fff;
	border: 6px solid #fff;
	border-radius: 50%;
	box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.15);
	display: flex;
	height: 68px;
	justify-content: center;
	left: -43px;
	overflow: hidden;
	position: absolute;
	top: -17px;
	width: 68px;
}
.product-fermer-pic:hover{
	box-shadow: 0 3px 13px 0 rgba(0, 0, 0, .5);
}
.in-stock{
	color: #8ebf5c;
	font-size: 12px;
	font-weight: 700;
	position: absolute;
	right: 30px;
	top: 30px;
}
.in-stock:before{
	align-items: center;
	background: #8ebf5c;
	border-radius: 50%;
	content: "\e90c";
	color: #fff;
	display: flex;
	font-family: 'icomoon' !important;
	font-size: 9px;
	height: 21px;
	justify-content: center;
	left: -33px;
	position: absolute;
	top: -3px;
	width: 21px;
}
.product-card-name{
	color: #484f53;
	font-size: 24px;
	font-weight: 700;
	margin-top: 30px;
}
.product-raiting{
	align-items: center;
	display: flex;
	margin-bottom: 20px;
}
.raiting-count{
	font-size: 15px;
	font-weight: 700;
	margin: 0 10px 0 15px;
}
.sales-count{
	color: #cfcfcf;
	font-size: 15px;
}
.product-desc,
.product-dop-desc{
	font-size: 15px;
	line-height: 24px;
	font-weight: 100;
}
.product-dop-desc .product-dop-desc-title{
	color: #8ebf5c;
	display: block;
	font-weight: 700;
	margin-top: 10px;
}

.product-card-price-block{
	display: flex;
	margin: 25px 0;
}
.card-price-wrap .price{
	margin-right: 5px;
}
.product-card-price-block .product-old-price{
	margin-left: 30px;
}
.product-in-cart-block{
	align-items: center;
	display: flex;
}
.product-count-block{
	border-radius: 18px;
	box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.1);
	display: inline-flex;
	height: 35px;
	background: #fff;
}
.product-count-block .count-minus,
.product-count-block .count-plus{
	align-items: center;
	display: inline-flex;
	flex-shrink: 0;
	font-size: 20px;
	height: 100%;
	justify-content: center;
	width: 35px;
}
.product-count-block .count-minus:before{
	content: "-";
	display: inline-block;
	line-height: 0;
	padding-bottom: 5px;
}
.product-count-block .count-plus:before{
	content: "+";
}
.product-count-block .count-minus:hover:before,
.product-count-block .count-plus:hover:before{
	text-shadow: 0 0 3px #8ebf5c;
}
.card-count-value{
	border: none;
	display: inline-block;
	height: 100%;
	text-align: center;
}
.product-in-cart-btn{
	background: linear-gradient(150deg, #ff9944, #fc6076);
	border-radius: 26px;
	color: #fff;
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	padding: 14px 75px 14px 42px;
	position: relative;
	text-transform: uppercase;
}
.product-in-cart-btn:before{
	content: "\e900";
	font-family: 'icomoon' !important;
	font-size: 20px;
	font-weight: normal;
	position: absolute;
	right: 24px;
	top: 11px;
}
.product-in-cart-btn:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: inset 1px 1px 6px rgba(0,0,0,.5);
}
.soc-head{
	color: #aeb2b5;
	font-size: 15px;
	text-align: right;
	text-transform: uppercase;
}
.soc-btns{
	text-align: right;
}
.card-tabs-block{
	border: none;
}
.card-tabs-item{
	color: #484f53;
	font-size: 24px;
	font-weight: 900;
	opacity: .3;
	padding: 5px 25px;
}
.card-tabs-item:hover{
	color: #484f53;
	text-decoration: none;
}
.card-tabs-item.active{
	border-bottom: 2px solid #8ebf5c;
	opacity: 1;
}
#nav-review{
	background: #fff;
}
.review-item{
	padding: 30px;
}
.review-item + .review-item{
	border-top: 1px solid #eeeeee;
}
.review-top-line,
.review-raiting{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.review-object{
	color: rgba(72,79,83,.7);
}
.reviw-raiting-count{
	color: #484f53;
	font-size: 15px;
	margin-left: 10px;
}
.review-name-block{
	margin: 10px 0;
}
.review-name{
	color: #484f53;
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	padding-left: 30px;
	position: relative;
}
.review-name:before{
	color: #cfcfcf;
	content: "\e91d";
	font-family: 'icomoon' !important;
	font-size: 19px;
	left: 0;
	position: absolute;
	top: -2px;
}
.review-date{
	display: inline-block;
}
.review-year{
	color: rgba(72,79,83,.6);
	font-size: 12px;
	font-style: italic;
	font-weight: 900;
}
.review-day{
	color: #cfcfcf;
	font-size: 12px;
	font-style: italic;
	padding-left: 20px;
	position: relative;
}
.review-day:before{
	background: #cfcfcf;
	content: "";
	display: block;
	height: 21px;
	left: 10px;
	position: absolute;
	top: -4px;
	transform: rotate(20deg);
	width: 1px;
}
.review-text{
	font-size: 15px;
	line-height: 24px;
}
.pop-slider-block{
	margin: 45px 0;
}
	/*END PRODUCT*/

		/*CART*/
.progress-block{
	display: flex;
}
.progress-item{
	align-items: center;
	border-bottom: 2px solid #bcc6cb;
	display: inline-flex;
	padding: 20px 45px;
}
.progress-number{
	color: rgba(72,79,83,.3);
	font-size: 42px;
	font-weight: 900;
}
.progress-name{
	color: rgba(72,79,83,.3);
	display: inline-block;
	font-size: 16px;
	font-weight: 900;
	line-height: 19px;
	margin-left: 10px;
	max-width: 125px;
}
.progress-check:before{
	align-items: center;
	background: #8ebf5c;
	border-radius: 50%;
	color: #fff;
	content: "\e90c";
	display: flex;
	font-family: 'icomoon' !important;
	font-size: 10px;
	height: 19px;
	justify-content: center;
	opacity: 0;
	width: 19px;
}
.item-1 .progress-check:before{
	margin-left: 12px;
}
.item-2 .progress-check:before{
	margin-left: 10px;
}
.item-3 .progress-check:before{
	margin-left: -20px;
}
.progress-item.active-progress{
	border-bottom: 2px solid #8ebf5c;
}
.progress-item.active-progress .progress-number,
.progress-item.active-progress .progress-name{
	color: #484f53;
}
.progress-item.active-progress .progress-check:before{
	opacity: 1;
}
.cart-page-body{
	background: rgba(255,255,255,.95);
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	position: relative;
	z-index: 1;
}
.cart-page-header{
	color: #aeb2b5;
	font-size: 15px;
	padding: 19px 0;
	text-transform: uppercase;
}
.goods-name-column{
	padding-left: 45px;
}
.cart-page-item{
	border-top: 1px solid #e0e0e0;
	padding: 30px 0;
}
.first-column{
	align-items: center;
	display: flex;
}
.big-cart-pic{
	padding: 0 20px;
	flex-shrink: 0;
}
.big-cart-image{
	align-items: center;
	border-radius: 50%;
	display: flex;
	height: 70px;
	justify-content: center;
	overflow: hidden;
	width: 70px;
}
.big-cart-name{
	color: #484f53;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	max-height: 32px;
	overflow: hidden;
}
.big-cart-fermer{
	color: rgba(72,79,83,.7);
	font-size: 12px;
	line-height: 14px;
	max-height: 28px;
	overflow: hidden;
	margin: 5px 0 10px;
}
.big-cart-price-block{
	align-items: flex-end;
	display: flex;
}
.big-price{
	font-size: 16px;
	font-weight: 900;
}
.big-price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 12px;
	margin-left: 3px;
}
.big-unit{
	font-size: 11px;
}
.big-cart-old-price{
	color: #cfcfcf;
	font-size: 12px;
	font-weight: 900;
	margin-left: 20px;
	position: relative;
}
.big-cart-old-price:before{
	background: #484f53;
	content: "";
	display: block;
	height: 1px;
	left: -4px;
	position: absolute;
	top: 8px;
	width: calc(100% + 8px);
}
.big-cart-old-price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 9px;
	margin-left: 3px;
}
.cart-page-item .product-count-block{
	display: inline-flex;
	margin: 7px 7px 7px 0;
}
.big-cart-unit{
	font-size: 14px;
	margin: 7px 0 7px 7px;
}
.big-total-price{
	font-size: 19px;
	font-weight: 900;
}
.big-total-price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 15px;
	margin-left: 3px;
}
.cart-page-item .close-btn{
	margin-right: 20px;
}
.cart-total-block{
	background: url("../image/total-back.jpg") top right no-repeat, #fff;
}
.total-top-block{
	border-bottom: 1px solid #e0e0e0;
	padding: 35px 30px;
}
.total-head{
	font-size: 18px;
	font-weight: 900;
	margin-bottom: 50px;
	position: relative;
	text-transform: uppercase;
}
.totl-count{
	align-items: center;
	background: linear-gradient(150deg, #ff9944, #fc6076);
	border-radius: 13px;
	color: #fff;
	display: flex;
	font-size: 11px;
	font-weight: 900;
	height: 26px;
	justify-content: center;
	left: 78px;
	min-width: 26px;
	position: absolute;
	top: -1px;
}
.total-row{
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.total-row + .total-row{
	margin-top: 10px;
}
.total-row-name{
	color: #aeb2b5;
	font-size: 15px;
	text-transform: uppercase;
}
.total-row-value{
	color: #484f53;
	font-size: 19px;
	font-weight: 500;
}
.total-row-value:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 15px;
	font-weight: 100;
	margin-left: 3px;
}
.total-sum-block{
	align-items: center;
	color: #484f53;
	display: flex;
	font-weight: 900;
	justify-content: space-between;
	margin-top: 60px;
	width: 100%;
}
.total-sum-name{
	font-size: 18px;
}
.total-sum{
	font-size: 19px;
}
.total-sum:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 15px;
	font-weight: bold;
	margin-left: 3px;
}
.total-btn-block{
	display: flex;
	justify-content: center;
	padding: 25px 0;
}
.make-order{
	background: linear-gradient(150deg, #ff9944, #fc6076);
	border-radius: 26px;
	box-shadow: 0 11px 24px 0 rgba(254, 136, 84, 0.57);
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	padding: 15px 74px 15px 34px;
	position: relative;
	text-transform: uppercase;
}
.make-order:after{
	content: "\e90d";
	font-family: 'icomoon' !important;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	position: absolute;
	right: 30px;
	top: 16px;
}

.make-order:hover{
	color: #fff;
	text-decoration: none;
}
.delivery-btn-block{
	margin: 45px 0 0 30px;
}
.delivery-btn{
	color: #484f53;
	font-size: 15px;
	font-weight: 700;
	padding-left: 67px;
	position: relative;
	text-decoration: underline;
}
.delivery-btn:before{
	align-items: center;
	background: #8ebf5c;
	border-radius: 50%;
	color: #fff;
	content: "\e901";
	display: flex;
	font-family: 'icomoon' !important;
	font-size: 20px;
	font-weight: normal;
	height: 50px;
	justify-content: center;
	left: 0;
	position: absolute;
	top: -17px;
	width: 50px;
}
.delivery-btn:hover{
	color: #484f53;
	text-decoration: none;
}
.continue-shopping-block{
	margin: 10px 0 50px;
}
.continue-shopping{
	border: 1px solid #b4bdc2;
	border-radius: 26px;
	color: #484f53;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	padding: 14px 41px;
	text-transform: uppercase;
}
.continue-shopping:hover{
	background: #b4bdc2;
	color: #484f53;
	text-decoration: none;
}
		/*END CART*/

		/*CABINER*/
.cabinet{
	margin: 45px 0;
}
.cabinet-menu-item{
	color: rgba(72,79,83,.3);
	display: block;
	font-size: 18px;
	font-weight: 900;
	margin-top: 20px;
	padding: 10px 0;
	position: relative;
}
.cabinet-menu-item:hover{
	color: rgba(72,79,83,.7);
	text-decoration: none;
}
.cabinet-menu-item.active-cabinet-item{
	border-right: 2px solid #8ebf5c;
	color: rgba(72,79,83,1);
}
.chat-item:before{
	background: linear-gradient(150deg, #ff9944, #fc6076);
	border-radius: 50%;
	content: "";
	display: block;
	height: 6px;
	left: 200px;
	position: absolute;
	top: 13px;
	width: 6px;
}
.cabinet-info-block{
	display: flex;
}
.avatar-block{
	background: #fff;
	flex-shrink: 0;
	margin-right: 1px;
	padding: 30px 20px;
}
.avatar{
	background: url("../image/avatar.jpg") center no-repeat;
	border-radius: 50%;
	height: 150px;
	margin: 0 auto;
	width: 150px;
}
.cabinet-raiting{
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 20px 0 10px;
}
.user-btn-link{
	display: block;
	width: 100%;
	height: 54px;
	line-height: 54px;
}
.user-btn-link:hover{
	text-decoration: none;

}
.goods-reviews-cabinet{
	display: flex;
}
.goods-reviews-cabinet .goods-count,
.goods-reviews-cabinet .goods-count:before,
.goods-reviews-cabinet .reviews-count,
.goods-reviews-cabinet .reviews-count:before{
	color: #cfcfcf;
}
.cabinet-text-block{
	background: #fff;
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	padding-bottom: 40px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cabinet-user-block{
	padding: 30px;
}
.cabinet-user-block + .cabinet-user-block{
	border-top: 1px solid #e0e0e0;
}
.cabinet-user-name{
	color: #484f53;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}
.user-block-head{
	color: #aeb2b5;
	font-size: 15px;
	text-transform: uppercase;
}
.input-mid-block{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}
.input-custom{
	border: 1px solid #e8e8e8;
	border-radius: 26px;
	font-size: 16px;
	padding: 13px 30px;
}
.input-custom:focus,
.input-custom:valid{
	background: #f0f0f0;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1), 0 3px 7px 0 rgba(0, 0, 0, 0.1) inset;
	outline: none;
}
.mid-input{
	width: 48%;
}
.input-short-block{
	margin-top: 25px;
}
.input-short-block .short-input{
	margin-left: calc(100% - 48%*2);
}
.short-input{
	width: 166px;
}
.sex-block{
	align-items: center;
	display: flex;
	margin-top: 25px;
}
.sex-block .search-block1-text{
	margin-right: 5px;
}
.sex-block .icon-ale,
.sex-block .icon-shemale{
	align-items: center;
	border: 1px solid #90c05f;
	border-radius: 50%;
	cursor: pointer;
	display: inline-flex;
	height: 47px;
	justify-content: center;
	margin: 0 7px;
	width: 47px;
}
.sex-block .icon-ale:before,
.sex-block .icon-shemale:before{
	color: #90c05f;
	font-size: 17px;
}
.product-fermer:checked + .choose-radio{
	background: #90c05f;
}
.product-fermer:checked + .choose-radio:before{
	color: #fff;
}
.long-input-block{
	margin-top: 25px;
	position: relative;
}
.long-input{
	width: 100%;
}
.region-btn{
	align-items: center;
	border: 1px solid #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
}
.region-btn:before{
	color: #8ebf5c;
	content: "\e921";
	font-family: 'icomoon' !important;
	font-size: 18px;
}
.cabinet-btn{
	background: linear-gradient(to top, #8ebf5c, #9ed764);
	bottom: -26px;
	border: none;
	border-radius: 26px;
	box-shadow: 0 11px 24px 0 rgba(158, 215, 100, 0.57);
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	padding: 13px 72px 13px 37px;
	position: absolute;
	right: 30px;
	text-transform: uppercase;
}
.cabinet-btn:before{
	content: "\e910";
	font-family: 'icomoon' !important;
	font-size: 20px;
	font-weight: normal;
	position: absolute;
	right: 24px;
	top: 9px;
}
.cabinet-btn:focus{
	outline: none;
}
		/*END CABINET*/

		/*SELLER*/
.seller-block1{
	align-items: center;
	background: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-right: 1px;
	padding: 40px 30px;
	position: relative;
}
.seller-block1 .like{
	right: 30px;
	top: 25px;
}
.seller-block1 .like:before{
	font-size: 20px;
}
.seller-pic{
	align-items: center;
	border-radius: 50%;
	display: flex;
	height: 150px;
	justify-content: center;
	overflow: hidden;
	width: 150px;
}
.seller-raiting{
	align-items: center;
	display: flex;
	margin: 20px 0 10px;
}
.orders-count{
	color: rgba(72,79,83,.7);
	font-size: 17px;
	margin: 15px 0 45px;
}
.seller-product-image{
	border-radius: 50%;
	display: inline-block;
	height: 70px;
	overflow: hidden;
	width: 70px;
}
.seller-goods-slider-wrap{
	margin-bottom: 40px;
	width: 100%;
}
.seller-goods-slider .slick-slide{
	text-align: center;
}
.seller-goods-slider .slick-prev:before{
	color: #000;
	content: "\e911";
	font-family: 'icomoon' !important;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(90deg);
}
.seller-goods-slider .slick-next:before{
	color: #000;
	content: "\e911";
	font-family: 'icomoon' !important;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(270deg);
}
.send-message-btn-wrap{
	bottom: -23px;
	position: absolute;
	text-align: center;
	width: 100%;
}
.send-message-btn{
	background: linear-gradient(to top, #8ebf5c, #9ed764);
	border-radius: 23px;
	box-shadow: 0 11px 24px 0 rgba(158, 215, 100, 0.57);
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	padding: 13px 61px 13px 28px;
	position: relative;
	text-transform: uppercase;
}
.send-message-btn:hover{
	color: #fff;
	text-decoration: none;
}
.send-message-btn:before{
	content: "\e90d";
	font-family: 'icomoon' !important;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	right: 25px;
	top: 10px;
}
.seller-block2{
	background: #fff;
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
	min-height: 100%;
	padding: 30px;
}
.seller-info{
	align-items: center;
	color: rgba(0,0,0,.7);
	display: flex;
	justify-content: space-between;
}
.product-type{
	padding-right: 50px;
	position: relative;
}
.product-type:after{
	content: '';
	display: block;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.milk-products:after{
	background: url("../image/svg/milk.svg");
	font-size: 30px;
}
.seller-name{
	font-size: 24px;
	font-weight: 700;
}
.seller-tel{
	margin: 10px 0 30px;
}
.seller-tel .phone{
	font-size: 12px;
	padding-left: 20px;
}
.seller-tel .phone:before{
	font-size: 15px;
}
.seller-about{
	font-size: 15px;
	font-weight: 100;
	line-height: 24px;
	margin-bottom: 15px;
}
.seller-spec{
	font-size: 15px;
	font-weight: 100;
	line-height: 24px;
}
.seller-spec-title{
	color: #8ebf5c;
	font-weight: 700;
}
.seller-tabs-block{
	margin-top: 80px;
}
.seller-tabs-block .tab-content{
	background: transparent;
}
.seller-tabs-block .product-wrap{
	margin-top: 25px;
}
		/*END SELLER*/

		/*SHOPPER*/
.shopper-block{
	margin: 50px 0;
}
.shopper-block1{
	background: #fff;
	margin-right: 1px;
	margin-top: 48px;
	padding-top: 40px;
}
.shopper-block1 .avatar-block{
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.shopper-place{
	color: rgba(72,79,83,.7);
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	margin-top: 10px;
}
.shopper-name{
	color: #484f53;
	font-size: 24px;
	font-weight: 700;
}
.shopper-block1 .cabinet-raiting{
	margin-top: 10px;
}
.shopper-reviews-count{
	color: #cfcfcf;
	font-weight: 100;
	margin-bottom: 10px;
	padding-left: 25px;
	position: relative;
}
.shopper-reviews-count:before{
	content: "\e90f";
	font-family: 'icomoon' !important;
	left: 0;
	position: absolute;
}
.shopper-orders-count{
	color: rgba(72,79,83,.7);
	font-size: 17px;
	font-weight: 100;
	margin-bottom: 30px;
	padding-left: 25px;
	position: relative;
}
.shopper-orders-count:before{
	content: "\e91b";
	font-family: 'icomoon' !important;
	left: 0;
	position: absolute;
}
.contacts-block{
	padding-bottom: 50px;
	position: relative;
	text-align: center;
}
.contacts-block-head{
	color: #aeb2b5;
	font-size: 15px;
	font-weight: 300;
	margin: 30px 0 25px;
	text-align: center;
	text-transform: uppercase;
}
.contacts-block .phone{
	font-size: 12px;
	font-weight: 900;
	padding-left: 20px;
}
.contacts-block .phone:before{
	font-size: 15px;
	font-weight: normal;
}
.contacts-block .male{
	color: #484f53;
	font-size: 12px;
	font-weight: 900;
	margin-left: 15px;
	padding-left: 24px;
	position: relative;
}
.contacts-block .male:before{
	color: #8ebf5c;
	content: "\e909";
	font-family: 'icomoon' !important;
	font-size: 18px;
	font-weight: normal;
	left: 0;
	position: absolute;
	top: -5px;
}
.shopper-tabs-block .tab-content{
	box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13);
}
.order-item{
	background: #fff;
	padding: 30px;
}
.order-info{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.order-number-block{
	align-items: center;
	border: 1px solid #eeeeee;
	border-radius: 17px;
	display: flex;
	height: 33px;
}
.order-number{
	border-right: 1px solid #eeeeee;
	color: #8ebf5c;
	font-size: 17px;
	font-weight: 700;
	padding: 0 20px;
}
.order-number:before{
	color: #aeb2b5;
	content:'Заказ №';
	font-size: 15px;
	font-weight: 300;
	margin-right: 15px;
	text-transform: uppercase;
}
.order-process{
	color: #484f53;
	font-size: 17px;
	font-weight: 300;
	padding: 0 20px;
}
.order-process:before{
	color: #aeb2b5;
	content: 'статус';
	font-size: 15px;
	font-weight: 300;
	margin-right: 15px;
	text-transform: uppercase;
}
.order-date-block{
	font-size: 12px;
	font-style: italic;
}
.order-year{
	color: rgba(72,79,83,.6);
	font-weight: 900;
}
.order-day{
	color: #cfcfcf;
	font-weight: 300;
	margin-left: 20px;
	position: relative;
}
.order-day:before{
	background: #cfcfcf;
	content: '';
	display: block;
	height: 25px;
	left: -10px;
	position: absolute;
	top: -7px;
	transform: rotate(25deg);
	width: 1px;
}
.order-product-block{
	align-items: center;
	display: flex;
	margin-bottom: 15px;
}
.order-product-pic{
	border-radius: 50%;
	align-items: center;
	display: flex;
	height: 70px;
	justify-content: center;
	margin-right: 25px;
	overflow: hidden;
	width: 70px;
}
.order-product-name{
	color: #484f53;
	font-size: 16px;
	font-weight: 700;
}
.order-product-fermer{
	color: rgba(72,79,83,.7);
	font-size: 12px;
	font-weight: 300;
}
.order-total-block{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.total-order-price{
	color: #484f53;
	font-size: 19px;
	font-weight: 900;
}
.total-order-price:before{
	color: #aeb2b5;
	content: 'Сумма заказа';
	font-size: 15px;
	font-weight: 300;
	margin-right: 15px;
	text-transform: uppercase;
}
.total-order-price:after{
	content: "\e90a";
	font-family: 'icomoon' !important;
	font-size: 15px;
	margin-left: 3px;
}
.order-desc-btn{
	color: #8ebf5c;
	font-size: 14px;
	font-weight: 500;
	padding-right: 15px;
	position: relative;
	text-transform: uppercase;
}
.order-desc-btn:after{
	content: "\e91a";
	font-family: 'icomoon' !important;
	position: absolute;
	right: 0;
}
.order-desc-btn:hover{
	color: #8ebf5c;
	text-decoration: none;
}
.order-desc-btn:hover:after{
	right: -5px;
}
		/*END SHOPPER*/


		/*FOOTER*/
footer{
	background: #fff;
	padding: 140px 0 60px;
}
.column-head{
	color: #cfcfcf;
	font-size: 15px;
	text-transform: uppercase;
}
.mail-form-head{
	color: #484f53;
	font-size: 22px;
	font-weight: 900;
	margin: 60px 0 35px;
	text-transform: uppercase;
}
.user-mail{
	background: #f0f0f0;
	border: none;
	border-radius: 26px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1), 0 3px 7px 0 rgba(0, 0, 0, 0.1) inset;
	font-size: 16px;
	padding: 12px 30px;
	width: 100%;
}
.user-mail:focus,
.submit-btn:focus{
	outline: none;
}
.submit-btn{
	align-items: center;
	background: linear-gradient(150deg, #ff9944, #fc6076);
	border: none;
	border-radius: 26px;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-size: 15px;
	font-weight: 700;
	height: 100%;
	justify-content: space-around;
	padding: 0 5px 0 10px;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	right: -30px;
	width: 215px;
}
.submit-btn:after{
	content: "\e909";
	font-family: 'icomoon' !important;
	font-size: 19px;
	font-weight: normal;
}
.submit-btn:hover{
	box-shadow: inset 1px 1px 6px rgba(0,0,0,0.5);
}
.column-head.menu-head{
	margin-bottom: 25px;
}
.footer-menu-link{
	color: #484f53;
	display: block;
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 15px;
	position: relative;
}
.footer-menu-link:hover{
	color: #484f53;
}
.soc-link{
	padding-left: 45px;
}
.soc-link:before{
	left: 3px;
	position: absolute;
}
.icon-fb:before{
	font-size: 17px;
}
.icon-vk:before{
	font-size: 18px;
}
.icon-insta:before{
	font-size: 16px;
}
.icon-tw:before{
	font-size: 17px;
}
.footer-line{
	background: #cfcfcf;
	height: 1px;
	margin: 47px 0;
}
footer .logo{
	margin-left: 0;
}
footer .logo-img{
	height: 52px;
}
.footer-text{
	font-size: 12px;
	font-weight: 100;
}
.underline-link{
	color: #9e9e9e;
	display: inline-block;
	font-size: 12px;
	text-decoration: underline;
}
.underline-link:hover{
	color: #9e9e9e;
	text-decoration: none;
}
#semup{
	align-items: center;
	display: flex;
}
#semup-link{
	margin-left: 10px;
}
#semup-img{
	height: 42px;
}
		/*END FOOTER*/

/*DELETE*/
.exemple{
	color: #000;
	font-size: 50px;
	text-transform: uppercase;
}
/*END DELETE*/
