.flex-v-center {
    display: flex;
    align-items: center;
}
.make-order {
    border: none;
}
.small-cart-back {
    /* z-index: 1000; */
}
.small-cart-price-wrapper {
    width: 100px;
}
.card-count-value {
    width: 35px;
}
.cart-body .price-text {
    text-transform: lowercase;
}
.cart-header {
    position: relative;
    z-index: 10000;
}
.cart-header-wrapper {
    padding-left: 0 !important;
}
.cart-body-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cart-body {
    margin-top: 23px;
    left: auto !important;
    transform: none !important;
    top: 100% !important;
    padding: 0;
    border-radius: 0;
}
.cart-name:hover {
    cursor: pointer;
}
.cart-item-number {
    min-width: auto;
    width: 44px;
}
.cart-count-block,
.cart-count-block input {
    background-color: transparent;
}
.cart-page-body .button-item-counter {
    width:  35px;
    height: 100%;
}
.cart-page-body .button-item-counter:hover{
    text-shadow: 0 0 3px #8ebf5c;
}