/* when user auth true */
.user-btn #btn-logout{
	outline: none;
	background: linear-gradient(to top, #8ebf5c, #9ed764);
	bottom: -26px;
	border: none;
	border-radius: 26px;
	box-shadow: 0 11px 24px 0 rgba(158, 215, 100, 0.57);
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 30px 13px 30px;
	cursor: pointer;
}
.underline-link {
    color: #9e9e9e;
    display: inline-block;
    font-size: 12px;
    text-decoration: underline;
    background: none;
    border: none;
}
footer .col-auto {
    width: 220px;
}
.user-btn {
    position: relative;
    right: 50px;
    width: 200px;
    transform: scale(0.8);
    font-size: 15px;
    align-items: center;
    border: 1px solid #cfcfcf;
    border-radius: 9px;
    color: #cfcfcf;
    display: inline-flex;
    height: 54px;
    padding: 0 10px;
}
.user-btn:after{
	content: "";
}
.user-btn:hover{
	box-shadow: inset 1px 1px 3px #8ebf5c;
}
.ml-0 {
    margin-left: 0!important;
}
.user-name {
    color: #484f53;
    font-size: 18px;
    font-weight: 100;
    margin-right: 35px;
    padding-left: 38px;
    position: relative;
    width: 130px;
}
.user-name:before {
    align-items: center;
    background: #8ebf5c;
    border-radius: 15px;
    color: #fff;
    content: "\e91d";
    display: inline-flex;
    font-family: 'icomoon' !important;
    font-size: 12px;
    height: 30px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: -2px;
    width: 30px;
}

/* when user auth false */
.alter-width {
    width: 110px !important;
    margin-left: -15px !important;
}
.user-btn a {
    color: #484f53;
}
.user-btn a:hover {
    color: #484f53;
}
.modal-window {
	display: none;
}
.modal-window.small-modal {
	border: 1px solid #e9e9e9;
	padding: 0;
	max-width: 530px;
}
/*.modal-window.small-modal div {*/
/*	clear: both;*/
/*	float: left;*/
/*	display: inline-block;*/
/*}*/
.news_title a {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #34495e;
}
.news_date {
	font-size: .75rem;
}
.news_text {
	font-size: .875rem;
	margin: 2rem 0;
}
.mt-30 {
	padding-top: 30px;
}
.modal-window-head {
	background: #fff;
	border-bottom: 1px solid #e9e9e9;
	font-size: 24px;
	padding: 6px 0;
	text-align: center;
	width: 100%;
}
.modal-window-input {
	border: 1px solid #e9e9e9;
	margin-top: 15px;
	padding: 3px 0 3px 10px;
}
.input-block-modal {
	max-width: 530px;
}
.modal-window-form {
	padding-bottom: 30px;
}
.input-block-modal > input {
	width: 100%;
}
.modal-btn {
	background: #8ebf5c;
	border: none;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	/*margin: 15px 0 10px;*/
	padding: 9px 0;
	width: 100%;
}
.error-text-block{
	margin: 0 15px;
	width: 265px;
}
.choose_users, img[alt=CAPTCHA]{
	width: 100%;
}
.fl-r{
	float:right;
}

@media (max-width: 575px){
	.right-column{
		order: 1;
	}
	.middle-column{
		order: 2;
	}
}