.cabinet-title-2 {
    color: rgb(174, 178, 181);
    font-size: 15px;
    font-weight: 300;
    margin-right: 15px;
    text-transform: uppercase;
}

.cabinet-link-with-symbol-1:after {
    position: static;
}
.cabinet-link-with-symbol-2 {
    padding-right: 0;
}
.cabinet-link-with-symbol-2:after {
    position: static;
}

.total-order-price, .total-order-price-lk {
    color: #484f53;
    font-size: 19px;
    font-weight: 900;
}
.total-order-price:after, .total-order-price-lk:after {
    content: "\e90a";
    font-family: 'icomoon' !important;
    font-size: 15px;
    margin-left: 3px;
}

.order-number-2 {
    border-right: 1px solid #eeeeee;
    color: #8ebf5c;
    font-size: 17px;
    font-weight: 700;
    padding: 0 20px;
}

.img-profile {
    border-radius: 50%;
    height: 150px;
    margin: 0 auto;
    width: 150px;
    overflow: hidden;
}

.bl_tap_photo {
    visibility: hidden;
    overflow: hidden;
    background: rgba(0,0,0,0.26);
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    transition: background .3s;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 48px;
    outline: none;
    overflow: hidden;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    width: 48px;
    z-index: 0;
    color: rgba(0,0,0,0.54);
    fill: rgba(0,0,0,0.54);
}

.basket-items-search-field.ferma24 {
    max-width: 440px;
}

.bx-notifier-panel {
    position: static;
}
.bx-im-fullscreen {
    position: static;
    background: transparent;
    height: auto;
}
.bx-im-fullscreen-td2 {
    text-align: left;
}
.bx-im-fullscreen .bx-desktop-placeholder {
    box-shadow: none;
}
