.el-pos-relative {
    position: relative;
}

.favorites.empty .have-favorites {
    display: none;
}

.wishbtn {
    display: inline-block;
}

#wishcount {
    position: absolute;
    right:    20px;
    top:      25px;
}

.favorites-wrapper {
    padding: 0 27px !important;
}

header {
    z-index: 1000;
}

.header-back {
    position: relative;
}
