
html {
    height: auto;
    min-height: 100%;
}

body, .wrapper {
    height: auto;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

.main-slider-wrapper {
    position: relative;
}

.button-item-counter {
    align-items: center;
    color: #8ebf5c;
    display: flex;
    cursor: pointer;
    height: 20px;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
}


.button-item-counter.minus:before {
    content: "-";
    display: inline-block;
    line-height: 0;
    padding-bottom: 5px;
}
.button-item-counter.plus:before {
    content: "+";
    display: inline-block;
    line-height: 0;
    padding-bottom: 5px;
}

button:focus {
    outline: none;
}
