.like {
    z-index: 10;
}
.like:focus,
.like:hover {
    text-decoration: none;
}
.like.in_wishlist:before {
    color: #8ebf5c;
}


.wishbtn .ic-svg {
    fill: transparent;
    stroke: #cfcfcf;
    stroke-width: 90px;
}
.wishbtn.in_wishlist .ic-svg {
    fill: #9ed764;
    stroke: #9ed764;
}

.bx_sitemap {
    display: none;
}

.search-catalog {
    background-color: transparent;
    /* box-shadow: 0 15px 84px 0 rgba(0, 0, 0, 0.13); */
    box-shadow: none;
}

.product-choose-name {
    text-align: center;
    margin-top: 15px;
}

.search-catalog-form-wrapper {
    position: relative;
    top: 30px;
}

.unit {
    text-transform: lowercase;
}

.cat-item {
    margin-bottom: 60px;
}
.cat-item .product-item-button-container {
    position: relative;
    display: flex;
    margin-top: -18px;
    justify-content: space-around;
}
.cat-item .product-wrap {
    padding-bottom: 0;
}
.cat-item .product-wrap {
    height: 100% !important;
}
.cat-item .product {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.cat-item .bottom-block-wrapper {
    height: 100%;
}
.cat-item .bottom-block {
    height: 100%;
}
.cat-item .product-desc {
    height: auto;
}
.cat-item .fermer-name {
    max-height: auto;
    position: relative;
    z-index: 20;
}

.sort-price-btn:before {
    display: none;
}
.sort-price-btn {
    background-color: transparent;
    border: none;
    width: 225px;
    -webkit-appearance: none !important;
}
.sort-price-btn:hover {
    cursor: pointer;
}
.dropdown-toggle:after {
    display: none;
}
.sort-price-btn .dropdown-menu.show {

}
.sort-price-btn .dropdown-menu {
    font-size: 12px;
}
.sort-price-btn .dropdown-menu .dropdown-item {
    padding: 5px 13px;
}

.product-labels-wrapper {
    position: absolute;
    z-index: 10;
    top: 30px;
    /* bottom: 0; */
    left: 20px;
    right: 20px;
}
.cat-item .product-labels-wrapper div {
    position: relative;
    left: auto;
    top: auto;
    z-index: 20;
}

.cat-item .product-sale {
    margin-bottom: 10px;
    position: static;
}

.cat-item .product-name {
    position: relative;
    z-index: 20;
}
.cat-item .add-product {
    z-index: 20;
}

.sort-price-btn:after {
    display: none;
}
.sort-price-btn .catalog-sort-button:after {
    content: "\e921";
    font-family: 'icomoon' !important;
    font-size: 15px;
    position: relative;
    top: 2px;
}
.sort-price-block .dropdown-divider:nth-last-child(-n+1) {
    display: none;
}

.lider-slider-block .slider-item .product-labels-wrapper div {
    position: relative;
    left: auto;
    top: auto;
    z-index: 20;
}

.product-raiting .rating-wrapper {
    margin-right: 20px;
}

product-delivery-address {
    display: flex;
}
.product-delivery-address .address-title button,
.product-card-delivery-address .address-title button {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid transparent;
}
.product-delivery-address .address-title button:hover,
.product-delivery-address .address-title span:hover,
.product-card-delivery-address .address-title button:hover,
.product-card-delivery-address .address-title span:hover{
    border-bottom: 1px solid !important;
}
.product-delivery-address .address-title:hover button,
.product-delivery-address .address-title:hover span,
.product-card-delivery-address .address-title:hover button,
.product-card-delivery-address .address-title:hover span {
    border-bottom: 1px dashed;
}
.popover-body {
    font-size: 15px;
    background-color: #163852ba;
    color: #fff;
}
.popover .arrow::after {
    border-bottom-color: #163852ba !important;
}
