.total-row-value:after {
    display: none;
}
.total-sum:after {
    display: none;
}

.big-unit, .big-cart-unit {
    text-transform: lowercase;
}

.make-order:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 6px rgba(0,0,0,0.5);
}

.cart-delayed .continue-shopping-block {
    margin-top: 50px;
}
