.cart-popup{
	flex-wrap: wrap;
	justify-content: space-between;
}
.popup-window-titlebar{
	width: 100%;
	border-bottom: 2px solid rgba(33,37,41,.25);
}
.cart-popup #cart-popup-content{
	width: 200px;
	margin: 0;
	text-align: center;
}

.popup-window-titlebar-text{
	color: #000;
	font-size: 22px;
}
.popup-window-buttons{
	align-self: flex-end;
	padding: 10px 0 0;
	border-top: 2px solid rgba(33,37,41,.25);
}
#cart-popup-data{
	font-size: 20px;
	margin-left: 50px;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 40px;
}
.popup-window-with-titlebar .popup-window-content{
	display: flex;
	width: 70%;
	padding-bottom: 0;
}
.cart-popap-product-name{
	margin-top: 20px;
	font-size: 18px;
}
.cart-popup-image-wrap{
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 10px #000;
}
.popup-window-close-icon:after{
	width: 20px;
	height: 20px;
}
.popup-window-buttons .btn-buy.btn-default {
	align-items: center;
	background: linear-gradient(150deg, #ff9944, #fc6076);
	border-radius: 20px;
	bottom: 0;
	color: #fff;
	border: none;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}
.popup-window-buttons .btn-buy.btn-default:hover {
	box-shadow: inset 1px 1px 6px rgba(0,0,0,.5);
}