#header_auth{
	padding: 30px 15px;
}
div.bx-system-auth-form span.bx-auth-secure{
	background-color: #fffae3;
	border: 1px solid #dedbc8;
	padding: 2px;
	display: inline-block;
	vertical-align: bottom;
	margin-top: -1px;
}
div.bx-system-auth-form div.bx-auth-secure-icon{
	background-image: url(images/sec.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 19px;
	height: 18px;
}
div.bx-system-auth-form div.bx-auth-secure-unlock{
	background-image: url(images/sec-unlocked.png);
}