.sepro-tags{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.sepro-tags-variants{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    z-index: 1;
}
.sepro-tags-variants ul{
    border: 1px solid #f4f4f4;
    border-top: none;
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
.sepro-tags-variants ul li a{
    border-top: 1px solid #f4f4f4;
    display: block;
    padding: 5px 6px;
    color: black;
    text-decoration: none;
}

.sepro-tags-variants ul li a:focus,
.sepro-tags-variants ul li a:hover,
.sepro-tags-variants .gotcha{
    color: #2675d7
}