a.edilvs .bx-soa-pp-company.col-lg-4.col-sm-4.col-xs-6.bx-selected {
    display: flex;
    align-items: center;
    color: #333;
    padding: 5px 15px;
    border: 2px solid #484f53;
    border-radius: 5px;
    margin: 10px 0;
}
a.edilvs {
    text-decoration: underline;
    color: #333;
}

a.edilvs.selected .bx-soa-pp-company.col-lg-4.col-sm-4.col-xs-6.bx-selected,
a.edilvs:hover .bx-soa-pp-company.col-lg-4.col-sm-4.col-xs-6.bx-selected {
    background: #96cb60;
    color: white;
}
a.edilvs .bx-soa-pp-company-smalltitle {
    margin-right: 12px;
}

a.edilvs.selected, a.edilvs:hover {

    text-decoration: none !important;
}